body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fondo */
    color: #333; /* Texto oscuro */
  }
  
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; /* Fondo gris claro */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }

.fondo-rosado {
    background-color: #ffe6f2; /* Fondo rosa pastel */
  }
  
  .boton-rosado {
    background-color: #ff69b4; /* Botón de color rosa brillante */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton-rosado:hover {
    background-color: #ff4d94; /* Cambia el color al pasar el ratón */
  }
  
  /* Estilos para encabezados */
  h1 {
    color: #ff69b4; /* Rosa brillante para títulos principales */
  }
  
  h2 {
    color: #ff69b4; /* Rosa brillante para subtítulos */
    border-bottom: 2px solid #ff69b4; /* Línea rosa brillante debajo */
  }