/* estilos para los videos de la pagina de home */
.card-video{
justify-content: center;
width: 400px; 
margin: 20px;
margin-left: 400px;

}

@media screen and (max-width: 768px) {
    .card-video{
      padding: 15px;
    }
     .card-title
    .card-body
    .card-video {
      font-size: 14px;
    }
  }

  .video-player {
    width: 110%; 
    height: auto;
  }
  
